:root {
  --white: #fff;
  --black: #000;
  --primary90: #F5F5FA;
  --primary80: #E2E4EE;
  --primary70: #C6CADB;
  --primary60: #9DA4BF;
  --primary50: #727CA4;
  --primary40: #5A6595;
  --primary30: #344176;
  --primary20: #17234E;
  --primary10: #091131;
  --secondary90: #FFF3F3;
  --secondary80: #FEDCDD;
  --secondary70: #FEA8A9;
  --secondary60: #F56769;
  --secondary50: #ED373A;
  --secondary40: #CB1518;
  --secondary30: #910F11;
  --secondary20: #590A0B;
  --secondary10: #390405;
  --error90: #FFFAE9;
  --error80: #FFF0BA;
  --error70: #FFE68F;
  --error60: #FFDC5F;
  --error50: #FFD231;
  --error40: #EBBB13;
  --error30: #B48F0C;
  --error20: #645110;
  --error10: #332803;
  --blue90: #E6ECFF;
  --blue80: #B3C4FF;
  --blue70: #809CFF;
  --blue60: #4C73FF;
  --blue50: #2857FF;
  --blue40: #2246C5;
  --blue30: #152E8A;
  --blue20: #102263;
  --blue10: #081544;
  --green90: #E7FBF1;
  --green80: #AFEED1;
  --green70: #7ADAAC;
  --green60: #41CC89;
  --green50: #08BB65;
  --green40: #0D9855;
  --green30: #0B6F3F;
  --green20: #084B2B;
  --green10: #082C1B;
  --gray98: #F7F9FB;
  --gray95: #E6E9EF;
  --gray90: #D5D9E2;
  --gray80: #C0C5CF;
  --gray70: #A7ADB9;
  --gray60: #8E95A4;
  --gray50: #79808F;
  --gray40: #5C6270;
  --gray30: #424753;
  --gray20: #30343E;
  --gray10: #20232B;
}